-
	contentName = "Daily UI - 08"
	n = 0

doctype html
html(lang="ja")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0")
		meta(name="description" content=contentName)
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		title !{contentName}
	body.container
		.content
			header.header
				h1.header__heading Daily UI 08
			main.main
				section.qa
					h1.qa__heading よくあるご質問
					- for(let i = 1; i<11; i++)
						dl.qa__body
							dt.qa__title(data-trigger-accordion)
								p.qa__title-body #{i}. よくある質問はよくありますか？
								.qa__title-nav
									.qa__title-nav-line
									.qa__title-nav-line(data-line)
							dd.qa__data.visually-hidden(data-target-accordion)
								p.qa__data-body 実際に、よくある質問はよくされます。ただ、よくされないときはよくある質問とは言いません。