doctype html
head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	meta(http-equiv="X-UA-Compatible" content="ie=edge")
	link(rel="shortcut icon" type="image/x-icon" href="./favicon/favicon.ico")
	title Daily UI - 02
body
	section.main
		h1.main__heading Daily UI
		h2.main__heading--sub 02
		ul.main__carousel(data-carousel)
			li.main__carousel-item
				img.main__carousel-image(src=require("~/img/dog01.jpg"))
			li.main__carousel-item
				img.main__carousel-image(src=require("~/img/dog02.jpg"))
			li.main__carousel-item
				img.main__carousel-image(src=require("~/img/dog03.jpg"))