html
	background-color: #181B1C
.container
	display: grid
	grid-template-columns: 1fr
	grid-template-rows: 60px 1fr
	grid-column-gap: 0
	grid-row-gap: 0
	height: 100vh
	position: relative
.header
	background-color: #111
	display: flex
	align-items: center
	justify-content: center
	box-shadow: 0 1px 0 0 #111
	&__title
		font-family: calibri, sans-serif
		font-size: 2.4rem
		font-weight: bold
		font-style: italic
		color: #fff
.main
	padding: 60px
	margin: 0 auto
	max-width: 600px
	&__img
		width: 100%
		height: auto
		border-radius: 10px
		box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16)
	&__range
		appearance: none
		outline: none
		height: 2px
		width: 100%
		max-width: 480px
		margin: 0 auto
		background: #ebebeb
		border-radius: 0
		&-wrap
			position: fixed
			bottom: 0
			height: 60px
			width: 100%
			display: flex
			align-items: center
			background-color: rgba(#111,.6)
			padding: 0 60px
		&::-webkit-slider-thumb
			-webkit-appearance: none
			background-color: #fff
			width: 25px
			height: 25px
			border-radius: 50%
			border: none
			box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16)
		&::-moz-range-thumb
			-moz-appearance: none
			background-color: #fff
			width: 25px
			height: 25px
			border-radius: 50%
			border: none
			box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16)