$sprites: (
    'morph': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M136.7 33c10.1 9.3 17.1 20.6 20.9 32.1 3.8 11.5 4.5 23.2 6.9 36.3 2.4 13 6.4 27.4 2.1 38.2-4.2 10.8-16.7 17.9-29.2 23.4-12.5 5.4-25 9.1-37.8 9.7-12.8.6-26-1.8-35.4-8.9-9.5-7.2-15.3-19.1-24-30.5-8.6-11.4-20-22.3-24.4-35.8-4.4-13.5-1.7-29.5 6-42.6 7.6-13 20.3-23.1 34.2-30.1 13.9-7.1 28.9-11.1 43.1-9.6 14.2 1.6 27.5 8.6 37.6 17.8Z'%3e%3canimate attributeType='XML' attributeName='d' dur='15s' repeatCount='indefinite' values='M36.7%2c-67C46.8%2c-57.7%2c53.8%2c-46.4%2c57.6%2c-34.9C61.4%2c-23.4%2c62.1%2c-11.7%2c64.5%2c1.4C66.9%2c14.4%2c70.9%2c28.8%2c66.6%2c39.6C62.4%2c50.4%2c49.9%2c57.5%2c37.4%2c63C24.9%2c68.4%2c12.4%2c72.1%2c-0.4%2c72.7C-13.2%2c73.3%2c-26.4%2c70.9%2c-35.8%2c63.8C-45.3%2c56.6%2c-51.1%2c44.7%2c-59.8%2c33.3C-68.4%2c21.9%2c-79.8%2c11%2c-84.2%2c-2.5C-88.6%2c-16%2c-85.9%2c-32%2c-78.2%2c-45.1C-70.6%2c-58.1%2c-57.9%2c-68.2%2c-44%2c-75.2C-30.1%2c-82.3%2c-15.1%2c-86.3%2c-0.9%2c-84.8C13.3%2c-83.2%2c26.6%2c-76.2%2c36.7%2c-67Z%3b M41.6%2c-73.6C50.8%2c-66.6%2c53.2%2c-49.4%2c56.5%2c-35.4C59.8%2c-21.4%2c64%2c-10.7%2c68.2%2c2.4C72.3%2c15.5%2c76.4%2c31%2c73.3%2c45.3C70.2%2c59.6%2c59.9%2c72.9%2c46.5%2c76C33.1%2c79.1%2c16.6%2c72.1%2c2.2%2c68.3C-12.2%2c64.5%2c-24.4%2c63.9%2c-33.5%2c58.3C-42.7%2c52.7%2c-48.8%2c42.2%2c-57.8%2c31.7C-66.7%2c21.1%2c-78.6%2c10.6%2c-82.5%2c-2.3C-86.4%2c-15.1%2c-82.3%2c-30.1%2c-75.4%2c-44.2C-68.4%2c-58.3%2c-58.6%2c-71.3%2c-45.5%2c-76.1C-32.5%2c-80.9%2c-16.2%2c-77.3%2c0%2c-77.3C16.1%2c-77.2%2c32.3%2c-80.5%2c41.6%2c-73.6Z%3b M42.2%2c-71.7C53.4%2c-66.7%2c60.2%2c-52.7%2c66.4%2c-39.2C72.7%2c-25.8%2c78.4%2c-12.9%2c78.8%2c0.3C79.2%2c13.4%2c74.4%2c26.8%2c65.7%2c36C57%2c45.2%2c44.4%2c50.1%2c32.8%2c57.5C21.2%2c64.9%2c10.6%2c74.7%2c-0.7%2c75.9C-11.9%2c77%2c-23.8%2c69.4%2c-36.8%2c62.8C-49.7%2c56.2%2c-63.8%2c50.6%2c-69.2%2c40.3C-74.7%2c30%2c-71.5%2c15%2c-72.8%2c-0.7C-74.1%2c-16.5%2c-79.9%2c-32.9%2c-76.2%2c-46.3C-72.5%2c-59.6%2c-59.4%2c-69.9%2c-45.1%2c-73.1C-30.8%2c-76.4%2c-15.4%2c-72.6%2c0.1%2c-72.7C15.5%2c-72.8%2c31%2c-76.7%2c42.2%2c-71.7Z%3b M44%2c-72.4C57.6%2c-68.4%2c69.4%2c-57.7%2c75.5%2c-44.5C81.5%2c-31.3%2c81.7%2c-15.6%2c77.7%2c-2.3C73.8%2c11.1%2c65.7%2c22.2%2c57.6%2c31.7C49.4%2c41.3%2c41.3%2c49.3%2c31.6%2c60C22%2c70.8%2c11%2c84.3%2c-0.1%2c84.5C-11.3%2c84.8%2c-22.6%2c71.8%2c-32.7%2c61.3C-42.7%2c50.8%2c-51.4%2c42.7%2c-59.5%2c32.9C-67.5%2c23.1%2c-75%2c11.6%2c-74.3%2c0.4C-73.7%2c-10.8%2c-65%2c-21.7%2c-59.3%2c-35.5C-53.5%2c-49.3%2c-50.7%2c-66.1%2c-41.3%2c-72.4C-31.9%2c-78.8%2c-15.9%2c-74.8%2c-0.4%2c-74.1C15.2%2c-73.5%2c30.5%2c-76.3%2c44%2c-72.4Z%3b M42.3%2c-68.1C56.6%2c-65%2c71.3%2c-57.3%2c79.2%2c-45.2C87.1%2c-33.1%2c88.3%2c-16.5%2c84.4%2c-2.3C80.4%2c12%2c71.3%2c23.9%2c63.9%2c36.9C56.4%2c49.9%2c50.7%2c63.9%2c40.4%2c69.2C30%2c74.4%2c15%2c70.9%2c0.1%2c70.7C-14.8%2c70.5%2c-29.6%2c73.7%2c-42.5%2c69.9C-55.4%2c66.1%2c-66.5%2c55.5%2c-70%2c42.7C-73.5%2c29.8%2c-69.5%2c14.9%2c-67.3%2c1.3C-65.2%2c-12.4%2c-64.8%2c-24.8%2c-59.2%2c-34C-53.6%2c-43.3%2c-42.8%2c-49.3%2c-32.1%2c-54.5C-21.3%2c-59.7%2c-10.7%2c-64%2c1.7%2c-66.9C14%2c-69.8%2c28%2c-71.2%2c42.3%2c-68.1Z%3b M43.7%2c-72.7C56.8%2c-68.1%2c67.7%2c-56.7%2c71.3%2c-43.5C75%2c-30.2%2c71.4%2c-15.1%2c71.8%2c0.3C72.3%2c15.6%2c76.7%2c31.3%2c71.5%2c41.8C66.3%2c52.4%2c51.5%2c57.9%2c37.9%2c61C24.4%2c64.1%2c12.2%2c64.9%2c0.4%2c64.2C-11.5%2c63.6%2c-22.9%2c61.6%2c-35.6%2c58C-48.2%2c54.3%2c-62%2c49%2c-69.6%2c39.1C-77.2%2c29.2%2c-78.6%2c14.6%2c-75.5%2c1.8C-72.4%2c-11%2c-64.8%2c-22%2c-58.3%2c-33.9C-51.8%2c-45.7%2c-46.4%2c-58.4%2c-36.9%2c-65.1C-27.4%2c-71.8%2c-13.7%2c-72.5%2c0.8%2c-73.8C15.3%2c-75.2%2c30.6%2c-77.3%2c43.7%2c-72.7Z%3b M36.7%2c-67C46.8%2c-57.7%2c53.8%2c-46.4%2c57.6%2c-34.9C61.4%2c-23.4%2c62.1%2c-11.7%2c64.5%2c1.4C66.9%2c14.4%2c70.9%2c28.8%2c66.6%2c39.6C62.4%2c50.4%2c49.9%2c57.5%2c37.4%2c63C24.9%2c68.4%2c12.4%2c72.1%2c-0.4%2c72.7C-13.2%2c73.3%2c-26.4%2c70.9%2c-35.8%2c63.8C-45.3%2c56.6%2c-51.1%2c44.7%2c-59.8%2c33.3C-68.4%2c21.9%2c-79.8%2c11%2c-84.2%2c-2.5C-88.6%2c-16%2c-85.9%2c-32%2c-78.2%2c-45.1C-70.6%2c-58.1%2c-57.9%2c-68.2%2c-44%2c-75.2C-30.1%2c-82.3%2c-15.1%2c-86.3%2c-0.9%2c-84.8C13.3%2c-83.2%2c26.6%2c-76.2%2c36.7%2c-67Z'/%3e%3c/path%3e%3c/svg%3e",
    'title': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M280 0H0v66h280V0ZM22.248 37.464v-.747h-6.394v.747c0 3.809.718 6.82 2.154 9.031 1.435 2.197 4.255 3.296 8.46 3.296 4.203 0 7.111-1.362 8.722-4.087.953-1.611 1.429-3.794 1.429-6.548V16.612H29.85v22.654c0 1.568-.154 2.68-.461 3.34-.513 1.113-1.568 1.67-3.164 1.67-1.612 0-2.666-.506-3.165-1.516-.483-1.026-.754-2.79-.813-5.296Zm27.906-15.117h17.139v-5.735H43.54V49h24.544v-5.823h-17.93V34.85h15.732v-5.625H50.154v-6.878Zm29.97-5.735h-6.767V49h22.808v-5.823h-16.04V16.612Zm27.51 0h-6.767V49h22.807v-5.823h-16.04V16.612Zm42.759 0h-7.668l-6.438 14.107-6.724-14.107h-7.976l11.206 20.215V49h6.768V36.827l10.832-20.215Zm38.562.044h-22.961V49h6.723V35.42h14.217v-5.624h-14.217v-7.449h16.238v-5.69ZM192.976 49h6.724V16.612h-6.724V49Zm19.16-6.68c-.6-.732-1.003-1.838-1.208-3.318h-6.46c0 3.37 1.208 6.02 3.625 7.954 2.417 1.92 5.735 2.879 9.954 2.879 4.131 0 7.324-.974 9.58-2.922 2.27-1.963 3.406-4.424 3.406-7.383 0-2.886-.967-5.09-2.901-6.614-1.245-.981-3.09-1.765-5.537-2.351l-5.581-1.34c-2.153-.513-3.559-.96-4.219-1.34-1.025-.572-1.538-1.436-1.538-2.594 0-1.26.52-2.24 1.56-2.944 1.04-.703 2.432-1.055 4.175-1.055 1.568 0 2.879.271 3.933.813 1.582.82 2.432 2.205 2.549 4.153h6.504c-.117-3.442-1.384-6.064-3.801-7.866-2.403-1.816-5.31-2.724-8.723-2.724-4.087 0-7.185.959-9.295 2.878-2.109 1.919-3.164 4.329-3.164 7.229 0 3.179 1.091 5.515 3.274 7.01 1.289.893 3.618 1.72 6.987 2.482l3.428.77c2.007.439 3.479.944 4.417 1.515.937.586 1.406 1.414 1.406 2.483 0 1.831-.945 3.084-2.835 3.758-.996.351-2.292.527-3.889.527-2.666 0-4.548-.667-5.647-2Zm23.863-25.708V49h6.701V34.542h12.656V49h6.724V16.612h-6.724v12.349H242.7V16.612h-6.701Z' fill='black'/%3e%3c/svg%3e"
);

$sizes: (
    'morph': (
        'width': 200px,
        'height': 200px
    ),
    'title': (
        'width': 280px,
        'height': 66px
    )
);

$variables: (
    /* EMPTY */
);

// https://github.com/waldemarfm/sass-svg-uri/blob/v1.0.0/_svg-uri.scss
@function sprite-str-replace($string, $search, $replace: '') {
    $index: str-index($string, $search);

    @if type-of($replace) == 'null' {
        $replace: '';
    }

    @if ( $index ) {
        @return str-slice($string, 1, $index - 1) + $replace + sprite-str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }

    @return $string;
}

@function sprite-svg-uri($value) {
    $output: $value;

    $output: sprite-str-replace($output, '"', "'");
    $output: sprite-str-replace($output, '<', '%3C');
    $output: sprite-str-replace($output, '>', '%3E');
    $output: sprite-str-replace($output, '&', '%26');
    $output: sprite-str-replace($output, '#', '%23');

    @return $output;
}

@mixin sprite($name, $user-variables: (), $include-size: false) {
    $sprite: map-get($sprites, $name);

    // Inject variables
    $default-variables: map-get($variables, $name);
    @if type-of($default-variables) == 'map' {
        @each $key, $value in map-merge($default-variables, $user-variables) {
            @if ( not map-has-key($default-variables, $key) ) {
                @warn 'Sprite \'#{$name}\' does not support variable named \'#{$key}\'';
            }

            $sprite: sprite-str-replace($sprite, '___#{$key}___', sprite-svg-uri(quote(#{$value})));
        }
    } @else if type-of($user-variables) == 'map' {
        @warn 'Sprite \'#{$name}\' does not contain any variables';
    }

    background: url($sprite) center no-repeat;

    @if $include-size {
        $size: map-get($sizes, $name);
        @if $include-size == true {
            background-size: map-get($size, width) map-get($size, height);
        } @else if $include-size == 'box' {
            width: map-get($size, width);
            height: map-get($size, height);
        }
    }
}
