- contentName = "Daily UI - 07"
doctype html
html(lang="ja")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0")
		meta(name="description" content=contentName)
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		title !{contentName}
	body.container
		.content
			header.header
				h1.header__heading Daily UI 07
			main.main
				nav.nav
					ul.nav__menu
						li.nav__menu-item.nav__menu-item-em
							span.nav__menu-body.nav__menu-body-em 平成を知りに行く
							span.nav__menu-bg.nav__menu-bg-em(data-text-bg)
						li.nav__menu-item
							span.nav__menu-body お問い合わせ
							span.nav__menu-bg(data-text-bg)
						li.nav__menu-item
							span.nav__menu-body スタッフについて
							span.nav__menu-bg(data-text-bg)
						li.nav__menu-item
							span.nav__menu-body はじめてプラン
							span.nav__menu-bg(data-text-bg)
						li.nav__menu-item
							span.nav__menu-body お知らせ
							span.nav__menu-bg(data-text-bg)
						li.nav__menu-item
							span.nav__menu-body 令和について
							span.nav__menu-bg(data-text-bg)
				figure.main__img
					img.main__img-body(src=require("~/img/img.jpg"), width=900, height=580 ,alt="来島海峡大橋のイメージ", data-img)
					figcaption.main__img-caption 亀老山から望む来島海峡大橋 &copy; 今治地方観光協会 クリエイティブ・コモンズ・ライセンス（表示4.0 国際）https://creativecommons.org/licenses/by/4.0/
				p.main__body
					span.main__body-text 令和
						span.main__body-bg(data-text-bg)
					span.main__body-text 元年
						span.main__body-bg(data-text-bg)