@import "node_modules/destyle.css"
@import "day/02/sass/base"
@import "day/02/sass/mixin"
@import "//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"

.slick-list
	cursor: grabbing
.main
	width: 1280px
	margin: 150px auto 0
	position: relative
	&__heading
		position: absolute
		top: -90px
		left: 160px
		@include heading()
		&--sub
			position: absolute
			bottom: -83px
			right: 164px
			@include heading()
	&__carousel
		&-item
			width: 950px !important
			margin: 0 40px
		&-image
			margin: 0 auto